@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: 'Basic';
  src: url(../fonts/basic_sans_serif_7.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.close {
  background-color: transparent;
  border: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body header {
  background-color: #282828;
  color: white;
}

body header .header {
  font-size: 13px;
}

body header .header .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .header .row .header-left {
  padding: 10px 0;
}

body header .header .row .header-left i {
  margin-right: 8px;
}

body header .header .row .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header .header .row .header-right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  padding: 10px 0;
}

body header .header .row .header-right div p {
  margin-bottom: 0;
}

body header .header .row .header-right div i {
  margin-right: 5px;
}

body .navbar {
  background-color: white;
}

body .navbar .navbar-toggler {
  border: none;
}

body .navbar .navbar-toggler-icon {
  background-image: unset;
}

body .navbar .navbar-toggler-icon i {
  font-size: 24px;
  text-align: center;
  line-height: 1.3;
}

body .navbar .navbar-brand {
  font-family: 'Basic';
  font-size: 24px;
  color: #636666;
}

body .navbar .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .navbar .navbar-nav li {
  padding: 0 15px;
}

body .navbar .navbar-nav li a {
  font-size: 14px;
  color: #000 !important;
  font-weight: bold;
  padding: 5px 0;
}

body .navbar .navbar-nav li:last-child a {
  color: #5db442 !important;
  display: inline-block;
  border: 1px solid #5db442;
  border-radius: 30px;
  padding: 5px 25px;
}

body #cover {
  background-color: #4ca368;
  padding: 60px 0;
  color: white;
}

body #cover .cover {
  text-align: center;
}

body #cover .cover h2 {
  font-weight: normal;
  line-height: 1.8;
}

body #cover .cover p {
  max-width: 500px;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
}

body #cover .cover img {
  width: 50%;
  margin: 20px 0;
}

body #cover .cover div {
  background-color: #37804e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto;
  padding: 5px;
  border-radius: 30px;
}

body #cover .cover div input {
  border-radius: 30px 0 0 30px;
  border: none;
  padding: 8px 15px;
  outline: none;
}

body #cover .cover div button {
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 0 10px;
}

body #cover .cover span {
  font-size: 14px;
}

body #sign_up {
  background-color: #F9F9F9;
  text-align: center;
  padding: 60px 0;
}

body #sign_up h2 {
  font-weight: 300;
}

body #sign_up .signup_process {
  background-color: #fff;
  width: 30%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 100px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body #sign_up .signup_process .signup_process_left img {
  width: 100%;
}

body #sign_up .signup_process .signup_process_right .up_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #sign_up .signup_process .signup_process_right .up_down img {
  width: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
}

body #sign_up .signup_process .signup_process_right h3 {
  color: #5db442;
  font-weight: 300;
}

body #sign_up .signup_process .signup_process_right p {
  margin-left: 20px;
}

body #sign_up .process_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #sign_up .process_bottom .process_item {
  padding: 0 25px;
}

body #sign_up .process_bottom .process_item:first-child div {
  background-color: #5db442;
  padding: 5px;
}

body #sign_up .process_bottom .process_item div {
  display: inline-block;
  padding: 5px;
}

body #pricing {
  padding: 60px 0;
}

body #pricing .title {
  font-weight: 300;
  text-align: center;
}

body #pricing .pricing_badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

body #pricing .pricing_badge div {
  border: 2px solid #ececec;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body #pricing .pricing_badge div::after {
  content: 'OR';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #4ca368;
  color: white;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  font-size: 10px;
  line-height: 2;
  padding: 0 3px;
  font-weight: 500;
}

body #pricing .pricing_badge div p {
  display: inline-block;
  padding: 5px 25px;
  font-weight: 500;
  margin-bottom: 0;
  border-radius: 30px 0 0 30px;
}

body #pricing .pricing_badge div p:first-child {
  background-color: #5db442;
  color: #fff;
}

body #pricing .pricing_card {
  border: 1px solid #ececec;
  text-align: center;
  padding: 30px;
  margin: 20px 30px 0;
  position: relative;
}

body #pricing .pricing_card::after {
  content: '';
  height: 3px;
  width: 80px;
  background-color: #cccccc;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body #pricing .pricing_card h6 {
  font-size: 14px;
  font-weight: 500;
}

body #pricing .pricing_card .pricing_price {
  width: 90px;
  height: 90px;
  margin: 25px auto;
  -webkit-box-shadow: 0px 0px 20px #ececec;
          box-shadow: 0px 0px 20px #ececec;
  padding: 17px 0;
  border-radius: 45px;
  background-color: #ffffff;
  border: 1px solid #5db442;
  position: relative;
}

body #pricing .pricing_card .pricing_price h5 {
  font-size: 23px;
  font-weight: 500;
  color: #333333;
}

body #pricing .pricing_card .pricing_price p {
  font-size: 12px;
  color: #777777;
  font-weight: 300;
  font-style: italic;
}

body #pricing .pricing_card ul {
  padding-left: 0;
}

body #pricing .pricing_card ul li {
  font-size: 14px;
  list-style: none;
  letter-spacing: 1px;
  line-height: 30px;
  font-weight: 500;
}

body #pricing .pricing_card button {
  font-weight: 500;
  font-size: 14px;
  padding: 8px 35px;
  border: 1px solid #ececec;
  background-color: transparent;
  border-radius: 18px;
}

body #pricing .pricing_card button:hover {
  background-color: #5db442;
  color: white;
}
/*# sourceMappingURL=style.css.map */